<div class="modal">
  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-energized round" ng-click="closeModal()"><i class="icon ion-close-circled"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>

			  <div class="list card">

			  <div class="item item-avatar">
			    <h2>{{producto.codigo}}</h2>
			    <p><div class="item-text-wrap" >{{producto.descripcion}}</div></p>
			  </div>

			  <div class="item item-image">
			   <img preload-image ng-src="http://valentinaecu.com/api_valentina/public/imagenes/{{producto.codigo}}.jpg" default-image="img/gemionic/loader.gif" fallback-image="img/gemionic/valentina.png"  alt="" class="gem-friend-list-profile-pic">
			  </div>
			   <a class="item item-icon-left" href="#">
					    <i class="icon ion-ios-pricetags-outline"></i>
					     <div class="item-text-wrap">{{producto.precioUnitarioVenta}}</div>
					  </a>

			 <a class="item item-icon-left energized">
			 	<div class="row">
			 	<div class="col-xs-4">
			 		<div class="list">
			    		<label class="item item-input">
								    <input  ng-model='producto.cantidad'type="number" min="0" max="1000" placeholder='cantidad'>
								  </label>
					</div>
	
				</div>
				<div class="col-xs-4">

					<button class="button icon-left ion-plus button-energized" ng-click="agregarCarrito()">Agregar</button>	
				</div>
					
			 	</div>
				
			  </a>

			</div>
   
  </ion-content>
</div>