<ion-view>
  <ion-nav-title class="item-text-wrap">
       <img class="item-text-wrap" src="img/gemionic/valentina-titulo.png">
    </ion-nav-title>

  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search" ng-click="muestraBusqueda()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header gem-ion-content feed">
  <div class="list list-inset">
</div>
   
   <div  class="list">

    <div ng-if='cantidad_carrito == 0'>
      <div class="span7 text-center"><i class="icon ion-ios-cart grande"></i>
        <br/>No hay items en tu carrito. Disfruta de la experiencia de realizar pedidos con nosotros
             <button class="button button-energized">
                SEGUIR HACIENDO PEDIDO
              </button>
      </div>
    </div>
	
		<div ng-if='cantidad_carrito > 0' ng-repeat="res in pedido "> 

							 <a   class="item item-thumbnail-left  item-button-right" >
				     <img preload-image ng-src="http://valentinaecu.com/api_valentina/public/imagenes/{{res.codigo}}.jpg" default-image="img/gemionic/loader.gif" fallback-image="img/gemionic/valentina.png"  alt="" class="gem-friend-list-profile-pic">
				      <div class="item-text-wrap">Cantidad: <b>{{res.cantidad}}</b></div>
				      <p><div class="item-text-wrap">Codigo: <b>{{res.codigo}}</b></div></p>
              <p><div class="item-text-wrap">Producto: <b>{{res.descripcion}}</b></div></p>

              <div class="btn-group">
                <button ng-click="selectCantidad(res)"  class="button button-stable">
                    <i class="icon ion-edit energized"></i>
                  </button>
                  <button  class="button button-stable" ng-click="borrarItem($index)">
                    <i class="icon ion-android-remove-circle energized"></i>
                  </button>
                
              </div>
						 
				      
				    </a>

				   
			
		</div>
   

</div>






  </ion-content>
  <div class="bar bar-footer bar-energized">
  <div class="row"> <div class="col">Items : {{cantidad_carrito}} <b>total: ${{ total | number:1}} </b> </div>  </div>


  <a class="button icon-right ion-chevron-right button-light" ng-click='enviarPedido()'>Enviar Pedido</a>

 
</div>
  <button class="button button-float button-energized" ng-click="commentsForm()" >
  	{{cantidad_carrito}}
                <i class="icon ion-android-cart"></i>
  </button>


  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>