<div class="modal">
  <ion-header-bar>
    <h1 class="title">Iniciar Sesion</h1>
    <div class="buttons">
      <button class="button button-light" ng-click="closeModal()"><i class="icon ion-close-circled"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form  class="gem-form">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Numero de Afiliado</span>
          <input type="text" ng-model="loginData.n_afiliado" placeholder="No. Afiliado">
        </label>
        <label class="item item-input">
          <span class="input-label">Clave</span>
          <input type="password" ng-model="loginData.password" placeholder="Clave">
        </label>
        <label class="item">
          <button class="button button-block button-energized" type="submit" ng-click="iniciarSesion()">Entrar</button>
        </label>
        <div class="text-center padding">
          <div class="padding"></div>
          <button class="button button-energized" type="submit">Registrate como Asesora</button>
        </div>
      </div>
    </form>
  </ion-content>
</div>

