<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-light nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Atras</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">

    <!-- Sidebar Content -->
    <ion-content class="gem-sidebar dark">
      <!-- Profile Box - Extends ionic's .row -->
      <div class="row gem-sidebar-profile-box">
        <!-- Profile Thumb -->
        <div class="col col-50">
          <img src="img/gemionic/valentina.png"  alt="">
          {{datosAfiliado.nombre}} : #AF. {{datosAfiliado.numero_afiliado}}
        </div>
      </div>
      <!-- End Profile Box -->
      <ion-list>
        <ion-item class="item-ng-click" nav-clear menu-close ng-show="muestraLogin" ng-click="login()">Login</ion-item>
        <ion-item nav-clear menu-close href="#/app/misPedidos" ng-show='muestraSession'>Mis Pedidos</ion-item>
        <ion-item nav-clear ng-click="cerrarSesion()" ng-show='muestraSession' >Cerrar Sesion</ion-item>


      </ion-list>
    </ion-content>
    <!-- End sidemenu content -->
  </ion-side-menu>
</ion-side-menus>
