<ion-view>
  <ion-nav-title class="item-text-wrap">
       <img class="item-text-wrap" src="img/gemionic/valentina-titulo.png">
    </ion-nav-title>
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search" ng-click="muestraBusqueda()"></button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-top tabs-custom">


             <!-- Tab 1 -->
             <ion-tab title="Enviados">

                 <ion-nav-view name="tab-tab1">

                     <ion-content>


                     </ion-content>

                 </ion-nav-view>
             </ion-tab>

             <ion-tab title="Facturados">

                 <ion-nav-view name="tab-tab2">
                     <ion-content class="has-header gem-ion-content feed">
                       <div class="list gem-list">

                         <a class="item item-avatar item-button-right" href="#">
                           <!-- thumb image -->
                           <img src="img/gemionic/profile-image.jpg" class="gem-circle">
                           <!-- Name -->
                           <h2>Max</h2>
                           <!-- some text -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                           <!-- icon and status -->
                           <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
                         </a>


                         <a class="item item-avatar item-button-right" href="#">
                           <!-- thumb image -->
                           <img src="img/gemionic/profile-image-2.jpg" class="gem-circle">
                           <!-- Name -->
                           <h2>Carl</h2>
                           <!-- some text -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                           <!-- icon and status -->
                           <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
                         </a>


                         <a class="item item-avatar item-button-right" href="#">
                           <!-- thumb image -->
                           <img src="img/gemionic/profile-image-3.jpg" class="gem-circle">
                           <!-- Name -->
                           <h2>Tridon</h2>
                           <!-- some text -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                           <!-- icon and status -->
                           <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
                         </a>


                         <a class="item item-avatar item-button-right" href="#">
                           <!-- thumb image -->
                           <img src="img/gemionic/profile-image-4.jpg" class="gem-circle">
                           <!-- Name -->
                           <h2>Mary</h2>
                           <!-- some text -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                           <!-- icon and status -->
                           <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
                         </a>


                         <a class="item item-avatar item-button-right" href="#">
                           <!-- thumb image -->
                           <img src="img/gemionic/profile-image-5.jpg" class="gem-circle">
                           <!-- Name -->
                           <h2>Myles</h2>
                           <!-- some text -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                           <!-- icon and status -->
                           <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
                         </a>

                       </div>





                     </ion-content>
                 </ion-nav-view>
             </ion-tab>
             <ion-tab title="Recibidos">

                 <ion-nav-view name="tab-tab2">
                     <ion-content class="has-header gem-ion-content feed">
                       <div class="list gem-list">

                         <a class="item item-avatar item-button-right" href="#">
                           <!-- thumb image -->
                           <img src="img/gemionic/profile-image.jpg" class="gem-circle">
                           <!-- Name -->
                           <h2>Max</h2>
                           <!-- some text -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                           <!-- icon and status -->
                           <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
                         </a>


                         <a class="item item-avatar item-button-right" href="#">
                           <!-- thumb image -->
                           <img src="img/gemionic/profile-image-2.jpg" class="gem-circle">
                           <!-- Name -->
                           <h2>Carl</h2>
                           <!-- some text -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                           <!-- icon and status -->
                           <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
                         </a>


                         <a class="item item-avatar item-button-right" href="#">
                           <!-- thumb image -->
                           <img src="img/gemionic/profile-image-3.jpg" class="gem-circle">
                           <!-- Name -->
                           <h2>Tridon</h2>
                           <!-- some text -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                           <!-- icon and status -->
                           <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
                         </a>


                         <a class="item item-avatar item-button-right" href="#">
                           <!-- thumb image -->
                           <img src="img/gemionic/profile-image-4.jpg" class="gem-circle">
                           <!-- Name -->
                           <h2>Mary</h2>
                           <!-- some text -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                           <!-- icon and status -->
                           <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
                         </a>


                         <a class="item item-avatar item-button-right" href="#">
                           <!-- thumb image -->
                           <img src="img/gemionic/profile-image-5.jpg" class="gem-circle">
                           <!-- Name -->
                           <h2>Myles</h2>
                           <!-- some text -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                           <!-- icon and status -->
                           <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
                         </a>

                       </div>





                     </ion-content>
                 </ion-nav-view>
             </ion-tab>

         </ion-tabs>

  <button class="button button-float button-energized" ui-sref="app.checkout" >
                <i class="icon ion-android-cart">{{cantidad_carrito}}</i>
  </button>


  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
