<ion-view>
  <ion-nav-title class="item-text-wrap">
       <img class="item-text-wrap" src="img/gemionic/valentina-titulo.png">
    </ion-nav-title>
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button nav-transition='none' class="button button-icon icon ion-search" ui-sref="app.busqueda"></button>
  </ion-nav-buttons>
  <ion-content class="has-header gem-ion-content feed">
    <ion-slide-box auto-play="true" does-continue="true"  >

      <ion-slide ng-click="listadoCategoria(13)">
      <div class="box red">
      <img class="full-image" src="img/gemionic/slide-imagen-1.png">
      </div>
      </ion-slide>
         <ion-slide ng-click="listadoCategoria(11)">
      <div class="box red">
      <img class="full-image" src="img/gemionic/slide-imagen-2.png">
      </div>
      </ion-slide>
         <ion-slide ng-click="listadoCategoria(15)">
      <div class="box red">

      <img class="full-image" src="img/gemionic/slide-imagen-3.png">
      </div>
      </ion-slide>

  </ion-slide-box>



<ion-scroll direction="x" style="width: auto; height: 25vh;"  >

 <div class="button-bar alargado">
  <a class="boton-item" ng-click="listadoCategoria(10)"> <img class="full-image" src="img/gemionic/categoria1.png"></a>
  <a class="boton-item" ng-click="listadoCategoria(14)"> <img class="full-image" src="img/gemionic/categoria2.png"></a>
  <a class="boton-item" ng-click="listadoCategoria(15)"> <img class="full-image" src="img/gemionic/categoria3.png"></a>
  <a class="boton-item" ng-click="listadoCategoria(16)"> <img class="full-image" src="img/gemionic/categoria4.png"></a>
</div>
 </ion-scroll>

<div class="banners2">

   <div class="row">
            <div class="col col-50">
                    <img class="full-image" src="img/gemionic/banner1.jpg">
            </div>
            <div class="col col-50" >
                    <img class="full-image" src="img/gemionic/banner1.jpg">
            </div>
 </div>

</div>
<div class="banners1">
   <img class="full-image" src="img/gemionic/slide2.jpg">
</div>




  </ion-content>
  <button class="button button-float button-energized" ui-sref="app.checkout" >
                <i class="icon ion-android-cart">{{cantidad_carrito}}</i>
  </button>


  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
