<ion-view>
  <ion-nav-title class="item-text-wrap">
       <img class="item-text-wrap" src="img/gemionic/valentina-titulo.png">
    </ion-nav-title>

  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search" ng-click="muestraBusqueda()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header gem-ion-content feed">
  <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model='busquedaResultado.codigo' placeholder="Ingrese codigo">
  </label>
</div>

   <div  class="list">

		<div ng-repeat="res in resultadoCategoria  | filter: busquedaResultado ">

							 <a   class="item item-thumbnail-left  item-button-right" >

              <img preload-image ng-src="http://valentinaecu.com/api_valentina/public/imagenes/{{res.codigo}}.jpg" default-image="img/gemionic/loader.gif" fallback-image="img/gemionic/valentina.png" ng-click="perfil(medico)"  alt="" class="gem-friend-list-profile-pic">


				      <h2><div class="item-text-wrap">{{res.descripcion}}</div></h2>
				      <p><div class="item-text-wrap">Codigo: {{res.codigo}}</div></p>
						 <button ng-click="selectCantidad(res)"  class="button button-stable">
				      <i class="icon ion-ios-cart"></i>
				    </button>

				    </a>



		</div>


</div>



  </ion-content>


  <button class="button button-float button-energized" ui-sref="app.checkout" >
  	{{cantidad_carrito}}
                <i class="icon ion-android-cart"></i>
  </button>


  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
