<!-- View header bar is hidden using attribute 'hide-nav-bar="true"' -->
<ion-view title="Login-Fullscreen" hide-nav-bar="true">
  <!-- Splash background - refer to .gem-splash_background in css/style.css to change image -->
  <ion-content class="gem-splash_background">
    <div class="gem-form text-center">
      <!-- Logo as you please -->
      <div class="gem-splash-logo">
        <img src="img/gemionic/valentina.png" alt="Logo">
      </div>
      <!-- end Logo -->

      <!-- buttons. .button-rounded can be added for more roundness -->

      <a nav-transition="none" href="#/app/principal" target="_self" class="button button-outline button-rounded gem-white">ENTRAR</a>
      <!-- end buttons -->
    </div>
  </ion-content>
</ion-view>
