/* Setup the default font App-wide */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 300;
}

body * {
  font-family: 'OpenSans', Fallback, sans-serif;
}

.grande{

  font-size: 100px;
  color : #444;
}




/*Miscellaneous*/
.round-img {border-radius:50px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {margin-bottom: 5px; margin-top: 5px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .gem-ion-content {color: #34495E;}

/*Sidebar*/
      .gem-sidebar {}
      .gem-sidebar.dark {background:#1c1c1c;}
      .gem-sidebar.dark, .gem-sidebar.dark .gem-sidebar-profile-box * {color: #fff;}
      .gem-sidebar.dark .gem-sidebar-profile-box {padding:15px 10px;}
      .gem-sidebar.dark .gem-sidebar-profile-box .title, .gem-sidebar.dark .gem-sidebar-profile-box .action-links {margin: 4px 0;}
      .gem-sidebar.dark .item-complex .item-content, .gem-sidebar.dark .item {background-color: #131313; border-color: #1c1c1c; color: #fff; text-transform: uppercase; font-size: 13px;}
      .gem-sidebar.dark .item-ng-click, .item-complex .item-content, .item-radio .item-content {padding-left: 20px;}

      /*Profile Section*/
      .gem-sidebar.dark .gem-profile-image { border-radius:50px; width:100%; border: 4px solid rgba(255, 255, 255, 0.2);}
      .gem-profile-settings-icon {font-size: 200%; margin-top: 15px;}
      .gem-text-center {text-align: center;}
      .bold {font-weight: bold;}
      .gem-text-right {text-align: right;}
      .gem-text-left {text-align: left;}
      .gem-label {padding: 3px 14px; border-radius: 50px;}
        .gem-label.default, .gem-default {background: #95A5A6;}
        .gem-label.warning, .gem-warning {background: #F39C12;}
        .gem-label.danger, .gem-danger {background: #E74C3C;}
        .gem-label.success, .gem-success {background: #27AE60;}
        .gem-label.primary, .gem-primary {background: #428bca;}
        .button {margin-right: 7px;}
        .item .button {font-size: 13px; padding: 3px 17px;}
        .button, .button.gem-default, .button.gem-outline, .button.gem-warning, .button.gem-primary, .button.gem-danger, .button.gem-success {color: #fff; padding: 3px 17px; /*border: none;*/ border-radius: 3px;}
        .button-rounded {border-radius: 35px; padding-left: 30px; padding-right: 30px;}
        .button.gem-outline {border: 1px solid rgba(0, 0, 0, 0.3); color: #333;}
        .button-outline.button-outline {border-color: #eaeaea;}
        .button-outline.button-outline.gem-white {color: #fff;}
        .button-borderless {border:none;}
        .button-action {margin:0 !Important; padding-top: 10px; padding-bottom: 10px; text-transform: uppercase;}
        .gem-color-default {color:#95A5A6;}
        .gem-color-success {color:#27AE60;}
        .gem-color-warning {color:#F39C12;}
        .gem-color-danger {color:#E74C3C;}
      .no-margin {margin: 0; margin-right: 0; margin-bottom: 0; margin-top: 0; margin-left: 0;}
      .no-border {border:none;}
      /*.gem-icon {font-size: 200%;}*/
      .article-actions {padding: 5px 0;}

/*Login Screen*/
.gem-splash_background {background:#222224 url('../img/gemionic/jewel-background.jpg');}
.gem-form {margin: 25% 3%;}
.gem-form .button {margin: 15px 5px;}
.gem-form .item.item-input,  .gem-form .item.item-input .input-label, .gem-form .item {background: none;}
.gem-bar-clear {background: none;}
.gem-splash-logo { text-align: center; margin: 20% 0 0 0;}

/*Styles for ion-content*/
	.gem-ion-content {font-size: 14px; /*overflow-y:scroll;*/ }
	.gem-ion-content .fluid-image, .fluid-image, .fluid {width: 100%;}
  .gem-quote {background: #EAEAEA; padding: 25px 25px 25px 70px; position: relative;}
  .gem-quote .author {opacity: 0.6; display: block; font-weight: bold; padding: 3px 0 0 0; margin: 13px 0 0 0;
border-top: 1px solid rgba(0, 0, 0, 0.2);}
  .gem-quote:before {
    content: "\f347";
    font-family: ionicons;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 25px;
  }
  .add-user-pic-icon {font-size: 80px; margin-bottom: 10px; display: block;}

  .gem-fixed-bottom {position: absolute; bottom: 0; width: 100%;}
  .gem-circle {border-radius: 500px;}
  .gem-fullscreen {margin: 0 -10px;}
  .gem-medium-padding {padding: 10px;}
  .gem-large-padding {padding: 15px;}
  .uppercase {text-transform: uppercase;}

	/*Social News*/
	.gem-ion-content .news-item {padding: 20px 15px;position: relative; border-top: 1px solid #CBD0D3; padding-bottom: 5px;}
	.gem-ion-content .news-item .news-thumb {width: 50px;position: absolute;left: 0;margin-left: 15px;}
	.gem-ion-content .news-item .news-thumb .img { border-radius:500px; width: 100%;}
	.gem-ion-content .news-item .news-content {margin:0 25px 0 65px;}
	.gem-ion-content .news-more-action {position: absolute;right: 0;width: 30px;font-size: 200%;top: 10px;margin-right: 12px;}
	.gem-ion-content .news-comment-summary {float: right; clear: both; display: inline-block;}
	.gem-ion-content .news-item-stats {border: 1px solid #eaeaea; border-radius: 3px; padding: 4px 7px;}

	.gem-tiny-text {font-size: 12px; margin: 5px 0;}

	.gem-ion-content .news-media {position: relative;}
        .gem-ion-content .news-media-info {position: relative; margin-bottom: 22px;padding-top: 15px;}
        .gem-ion-content .news-media-info .thumb {position: absolute; width: 45px; margin-left: 15px;}
        .gem-ion-content .news-media-info .thumb img {width: 100%;}
        .gem-ion-content .news-media-info .text {margin-left: 75px;}
        .gem-ion-content .news-media-info .text .title, .gem-ion-content .news-media-info .text .subtitle {margin:0;}
        .gem-ion-content .news-media-info .media-action {position: absolute;top: 25px; right: 20px;}
        .gem-ion-content .news-media-info .media-action .icon {font-size: 200%;}
        .gem-ion-content .media-social-stats {position: absolute; top:10px; right: 10px;}
        .gem-ion-content .media-social-stats.stat-label { border: 1px solid rgba(0, 0, 0, 0.2); padding: 5px 10px; background: #fff; color: #7F8C8D; border-radius: 7px;}

	/*Social Feed*/
    .gem-ion-content.feed {padding: 13px;}
    .gem-ion-content.feed .item.item-input-inset {border: none;padding: 0;margin: 10px 0;}
    .gem-ion-content.feed .news-item {border: none; padding: 10px 0px;}
    .gem-ion-content.feed .news-item .news-thumb {margin-left: 0;}
    .gem-ion-content .news-item .news-content {margin:0 0 0 59px;}
    .gem-ion-content .news-item .news-more-action{ margin-right: 0px; text-align: right;}
    .gem-ion-content .news-item-stats {border: none;padding: 0;}
    .other-stats {padding: 5px 0;}

    /*Timeline*/
    .pos-absolute-right {position: absolute; right: 8px;}
    .timeline {position: relative; margin: 15px 0 0 0;}
        .timeline:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: 5px;
          background: #afdcf8;
          left: 44px;
          margin-left: -10px;
          z-index: 1;
        }
        .timeline .timeline-thumb {border-radius: 500px; width: 50px; z-index: 2; position: absolute; left: 10px}
        .timeline .timeline-thumb.no-image {height: 50px;text-align: center;color: white; border:5px solid #CBD0D3;}
        .timeline .timeline-thumb.no-image i {font-size: 28px;margin: 8px 0;display: block;}
        .timeline .timeline-item {margin-left: 72px; border-bottom: 1px solid #ccc; padding-bottom: 8px;}
        .timeline .timeline-item p {margin: 0 0 5px 0;}
        .timeline li {margin: 0 0 15px 0;}
        .timeline li:last-child {margin-bottom: 0px;}
        .timeline li:last-child .timeline-item {border-bottom: none;}
        .timeline .timeline-stats {position: relative; font-size: 12px; color: #7F8C8D;}

    /*Single Open Post */
    .gem-position-absolute {position: absolute;}
    .gem-position-relative {position: relative;}
    .gem-position-static {position: static;}
    .gem-post-media {position:relative;}
      .gem-post-media .topbar {
        position:absolute; height:108px; width:100%; padding-top:10px;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.47) 0%, rgba(0,0,0,0) 76%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.47)), color-stop(76%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.47) 0%,rgba(0,0,0,0) 76%,rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(top,  rgba(0,0,0,0.47) 0%,rgba(0,0,0,0) 76%,rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(top,  rgba(0,0,0,0.47) 0%,rgba(0,0,0,0) 76%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.47) 0%,rgba(0,0,0,0) 76%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78000000', endColorstr='#00000000',GradientType=0 );
      }
      .gem-post-media .post-title, .gem-post-media .post-stat {position:absolute; bottom:0; color:#fff;z-index: 1; padding:20px; width: 100%;}
      .gem-post-media .bottombar-and-shadow {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 108px;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85)));
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 );
      }
    .gem-post-content {background:white; padding:20px;line-height: 1.7em;}
    .gem-post-content .post-date {opacity: 0.6;}

    .article-comments {border-top: 1px solid #A3B1B2; margin-top: 10px; padding-top: 15px;}
    .comment-item {position: relative;border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 17px;}
    .comment-item .comment-profile-pic {position: absolute;border-radius: 500px;width: 55px;border: 3px solid #ccc;top: 0;left: 0;}
    .comment-item .comment-text {margin-left: 70px; margin-top: 10px;}
    .comment-item .comment-date {position: absolute;right: 0;top: 0;}

    .gem-in-media-row {top:20px; width: 100%; left: 0; z-index: 2}
    .gem-trans-gradient-down {background: url('../img/gemionic/gem-trans-gradient-down.png') left bottom;height: 108px;z-index: 1;top: 0;width: 100%;}
    .gem-trans-gradient-up {background: url('../img/gemionic/gem-trans-gradient-up.png') left top;min-height: 108px;z-index: 1;bottom: 0;width: 100%;}
    .text-left, .bar .title.text-left {text-align: left;}
    .text-right {text-align: right;}
    .text-center {text-align: center;}
    .block {display: block;}
    .white, .white *, .gem-white, .gem-white * {color: #fff;}
    .row-wrap {flex-wrap: wrap;}

    /*Form*/
    textarea {padding: 10px; background: rgba(255, 255, 255, 0.7); height: 140px; line-height: 1.5; color: #555; width: 100%;}
    label.item.item-input textarea {margin: 10px 0; border-radius: 5px;}
    .send-email .list {margin-bottom: 0;}

    /*Email*/
    .add-repicient {font-size: 48px; display: block;}
    
    /*Friend List (Horizontal)*/
    .gem-friend-list { position: relative;}
    .label-title {padding: 8px 11px;}
    .gem-friend-list-label {margin-top: 10px; padding: 0 10px;}
    .gem-friend-list .gem-friend-list-profile-pic {width: 60px;
      border-radius: 500px;
      border: 3px solid rgba(0, 0, 0, 0.1);
      vertical-align: middle;
      margin-right: 10px;
      position: absolute;
      top: 10px;
      left: 10px;
      }
    .list.gem-friend-list .item {padding: 8px;min-height: 80px;}
    .list.gem-friend-list .item .gem-friend-list-text {margin-left: 70px;margin-top: 13px; color: #34495E;}
    .list.gem-friend-list .item .gem-friend-list-text .signature {display: block;font-size: 12px;color: #aaa;}

    /*Friend Grid Style*/
      .gem-friend-grid {border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 10px 0; }
      .gem-friend-grid .gem-friend-list-profile-pic {border-radius: 500px;width: 90%;margin: 0 5%;}
      .gem-friend-grid .friend-name {font-size: 10px;text-transform: uppercase;text-align: center;line-height: 1.2em;}
      .gem-friend-grid .online-status {font-size: 10px;}
      .gem-friend-grid .friend-item {text-align: center;float: left;width: 23%;margin: 5px 1%;}

    /*Profile Version 1*/
    .gem-profile-media {background: #000; min-height: 237px; overflow: hidden; position: relative;}
    .gem-profile-media .profile-background-image {z-index:1; opacity: 0.3; position: absolute; top:-100%; left:0; right: 0; bottom:-100%; margin: auto;}
    .gem-profile-media .gem-profile-details {z-index: 2; text-align: center; position: absolute; width: 100%; color: #fff; padding: 20px 5% 0 5%;}
    .gem-profile-media .gem-profile-details .profile-image {width: 76px; border: 4px solid rgba(255, 255, 255, 0.9);}
    .profile-stats {background: #1C1C1C; color: #fff; padding-left: 0; padding-right: 0; margin-top: 20px;}
    .profile-stats div.stat:nth-child(even) {border-right: 1px solid rgba(255, 255, 255, 0.1); border-left: 1px solid rgba(255, 255, 255, 0.1);}

    /*Profile Version 2*/
    .gem-profile-text {margin: 10px;}
    .gem-profile-details.profile2 { bottom: 15px;}
    .profile-feed .profile-post {margin: 0 0 15px 0;}
    .profile-feed .profile-post img {width: 100%; border-bottom: 1px solid #ccc;}
    .profile-feed .profile-post p {margin:8px 2px;}
    .profile-feed .profile-post .title {margin:10px 0;}
    .profile-post-stat {margin-right: 6px; font-size: 13px; margin-left: 2px;}
    .profile-tabs, .tabs {border:none;}

    /*Profile Version 3*/
    .profile-stats.profile-3 {margin: 0; text-align: center; padding: 10px;}
    .profile-feed .title {/*border-top:1px solid #ccc;*/ border-bottom:1px solid #ccc; position: relative; padding:10px 15px; }
    .profile-feed .title .gem-more-button {position: absolute; right: 10px; top: 10px;}

    /*Profile Edit*/
    .profile-separator-title, .separator-title {background: #e4e4e4; padding: 5px 15px;}

    /*Gallery*/
    .gem-gallery {}
    .gem-gallery .thumb {}
    .gem-gallery .thumb img {width: 84%; margin: 8%;}

    /*New Post Section*/
   .gem-edit-section { position: relative; background: #F3F3F3; border-top: 1px solid #C2C2C2; border-bottom: 1px solid #C2C2C2;}
    .gem-edit-section .profile-image {width: 48px; margin-right: 8px; /*position: absolute; top: 0; left: 10px;*/ vertical-align: middle; }
    .gem-edit-section .gem-poster-controls {background: white; border-top: 1px solid #C2C2C2;}
    .gem-edit-section .gem-poster-controls .control {text-align: center; color: #2c3e50;}
    .gem-edit-section .gem-poster-controls .control .action {font-size: 200%;}

    .tabs .tab-item.active {background: #2C3E50; color: #fff;}
    .tabs .tab-item {background: none;}

    /*Invite Friend List*/
    .list.gem-list {}
    .list.gem-list .gem-circle {border-radius: 500px;}
    .list.gem-list .item-avatar .button {top: 16px;}
    .list.gem-list .item-avatar {padding-bottom: 4px;}
    /*.list.gem-list .item-avatar {margin: 4px 0 4px 0; font-size: 25px;}*/

    .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
    /* start commented backslash hack \*/
    * html .clearfix { height: 1%; }
    .clearfix { display: block; }
    /* close commented backslash hack */
.slider{
  height:30vh;
  width:auto; 
}

.slider .slide {
  height: 30vh;
  width: auto;
}
.separado{
  padding-right: 32px;
}
.alargado{
      border-style: solid;
      border-width: 1px 0px 1px 0px;
      border-color: #fafafa;
      min-height: 15vh !important;
      background-color: #fafafa;
      margin-right: 2px;
      width: auto;
}
.banners1{
  display: inline-block;
   padding-top: 2px;
}
.banners2{

   padding-top: 5px;
}
.boton-item{
    
  font-size: 80px;
  padding-top: 5px;
  padding-left: 5px;  
   background: #fafafa;
   margin-left: 1px;
   min-width: 20vh;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0eee8);
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0eee8);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0eee8);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0eee8);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0eee8);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  font-family: Courier New;
  color: #ffc900;
  text-decoration: none;
  border-radius: 5px;
    
}
.button-float{
  color:white !important;
  z-index: 12 !important;
  position: absolute !important; 
  bottom: 50px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4) !important;
    background: darken(#ef473a, 50%) !important;

}
.button-float:hover{
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4) !important;
    background: darken(#000, 80%) !important;
}
.ion-record{
  font-size: 10px;
  color : #ffc900 !important;
}
.bar-header {
  top: 0;
  border-top-width: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
}